.card-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 13px 0 13px;
}

.card {
  background-size: cover;
  height: 340px;
  width: 340px;
  border-radius: 10px;
  margin-top: 50px;
  cursor: pointer;
  position: relative;
}

.card-title {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10px;
  color: white;
  font-size: 18px;
}
