.gallery {
  position: relative;

  margin: 0 auto 50px auto;
}

.gallery-image-container {
  display: flex;
  align-items: center;
}
.gallery-prev-button img,
.gallery-next-button img {
  @include devices(mobile) {
    width: 25px;
    height: 25px;
  }
}

.gallery-prev-button,
.gallery-next-button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}

.gallery-prev-button {
  left: 100px;
  @include devices(mobile) {
    left: 70px;
  }
}

.gallery-next-button {
  right: 100px;
  @include devices(mobile) {
    right: 70px;
  }
}

.gallery-counter {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: $white;
  font-size: 18px;
  font-weight: 500;
}

.gallery-image {
  @include devices(tablet-up) {
    width: 92%;
    height: 400px;
  }
  @include devices(mobile) {
    width: 78%;
  }
  margin: 0 auto;
  border-radius: 25px;
}
