.gallery {
  position: relative;
  margin: 0 auto 50px auto;
}

.gallery-image-container {
  display: flex;
  align-items: center;
}
.gallery-prev-button img,
.gallery-next-button img {
  @include devices(mobile) {
    width: 15px;
    height: 15px;
  }
}

.gallery-prev-button,
.gallery-next-button {
  position: absolute;
  background: none;
  border: none;
  cursor: pointer;
}

.gallery-prev-button {
  left: 8%;
  @include devices(mobile) {
    left: 15%;
  }
}

.gallery-next-button {
  right: 8%;
  @include devices(mobile) {
    right: 15%;
  }
}

.gallery-counter {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  color: $white;
  font-size: 18px;
  font-weight: 500;
}

.gallery-image {
  object-fit: cover;
  @include devices(desktop) {
    width: 92%;
    height: 400px;
  }
  @include devices(tablet) {
    width: 88%;
  }
  @include devices(mobile) {
    width: 84%;
  }
  @include devices(mobile-xs) {
    width: 78%;
  }
  margin: 0 auto;
  border-radius: 25px;
}
