.info-room {
  /*border: 1px solid $red;*/
  display: grid;
  gap: 10px;

  @include devices(tablet-up) {
    margin: auto 60px 50px;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "title-location info-user"
      "tag rating";
  }

  @include devices(mobile) {
    margin: auto 40px 100px 40px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "title-location title-location"
      "tag tag"
      "rating info-user";
  }
}

.info-room-title-location {
  grid-area: title-location;
  color: $red;
  @include devices(desktop) {
    line-height: 3rem;
  }
  @include devices(tablet) {
    line-height: 2rem;
  }
  @include devices(mobile) {
    margin-bottom: 30px;
  }
}

.info-room-tags {
  grid-area: tag;
  ul {
    display: inline-flex;
    @include devices(mobile) {
      flex-wrap: wrap;
      gap: 10px;
    }

    li {
      color: $white;
      background: $red;
      margin-right: 15px;
      @include devices(tablet-up) {
        padding: 5px 15px 5px 15px;
      }
      @include devices(mobile) {
        padding: 5px 15px 5px 15px;
        font-size: 12px;
        margin-right: 1px;
      }
      border-radius: 5px;
    }
  }
}

.info-room-rating {
  grid-area: rating;
  @include devices(tablet-up) {
    text-align: right;
  }

  img {
    @include devices(tablet-up) {
      margin-right: 15px;
    }
    @include devices(mobile) {
      margin-right: 5px;
      margin-top: 10px;
    }
    @include devices(mobile-xs) {
      margin-right: 1px;
      margin-bottom: 5px;
    }
    width: 20px;
  }
}

.info-room-host {
  display: flex;
  align-items: center;
  justify-content: space-between;

  grid-area: info-user;
  color: $red;
  @include devices(tablet-up) {
    .info-room-host-name {
      width: 20px;
      font-size: 26px;
      margin-left: 3rem;
    }
    .info-room-host-picture {
      border-radius: 50%;
      margin-right: 15px;
      width: 30%;
    }
  }
  @include devices(mobile) {
    position: relative;
    .info-room-host-name {
      position: absolute;
      font-size: 18px;
      margin-left: 2rem;
      width: 20px;
    }
    .info-room-host-picture {
      border-radius: 50%;
      width: 30%;
      margin-left: 64%;
    }
  }
  @include devices(mobile-xs) {
    position: relative;
    .info-room-host-name {
      position: absolute;
      font-size: 14px;
      margin-left: 1em;
      width: 20px;
    }
    .info-room-host-picture {
      border-radius: 50%;
      width: 32%;
      margin-left: 60%;
    }
  }
}
