.info-room {
  border: 1px solid $red;
  display: grid;
  gap: 10px;

  @include devices(tablet-up) {
    margin: auto 60px 50px;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "title-location info-user"
      "tag rating";
  }
  @include devices(tablet) {
    margin: auto 30px 50px 30px;
  }
  @include devices(mobile) {
    margin: auto 40px 100px 40px;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "title-location title-location"
      "tag tag"
      "rating info-user";
  }
}

.info-room-title-location {
  grid-area: title-location;
  color: $red;
}

.info-room-tags {
  grid-area: tag;
  ul {
    display: inline-flex;

    li {
      color: $white;
      background: $red;
      margin-right: 15px;
      @include devices(tablet-up) {
        padding: 5px 15px 5px 15px;
      }
      @include devices(mobile) {
        padding: 5px 15px 5px 15px;
        font-size: 12px;
      }
      border-radius: 5px;
    }
  }
}

.info-room-rating {
  grid-area: rating;
  @include devices(tablet-up) {
    text-align: right;
  }
  @include devices(mobile) {
    margin-top: 20px;
  }
  img {
    @include devices(tablet-up) {
      margin-right: 15px;
    }
    @include devices(mobile) {
      margin-right: 5px;
    }
    width: 20px;
  }
}

.info-room-host {
  grid-area: info-user;
  color: $red;
  @include devices(tablet-up) {
    text-align: right;
    position: relative;
    .info-room-host-name {
      position: absolute;
      top: 10px;
      right: 110px;
      width: 20px;
    }
    .info-room-host-picture {
      border-radius: 50%;
      margin-right: 10px;
      width: 20%;
    }
  }
  @include devices(mobile) {
    position: relative;
    .info-room-host-name {
      position: absolute;
      top: 10px;
      left: 40%;
      width: 20px;
    }
    .info-room-host-picture {
      border-radius: 50%;
      width: 20%;
      margin-left: 64%;
    }
  }
}
